<!-- 

<div style="width: 600px; margin-left: 3%; display: inline-block;">
    <app-mapa></app-mapa>
    
</div>

<div style="width:90px; display:inline-block;">
    <app-captura></app-captura>
</div>
 -->

<div style="width: 100%; height: 100%">
  <div style="width: 700px; display: inline-block; margin-left: 3%">
    <app-mapa></app-mapa>
  </div>
  <div
    style="width: 90px; height: 100%; display: inline-block; margin-left: 50%"
  >
    <div class="login-box">
      <h2>Registro de fallas</h2>

      <form (ngSubmit)="formSubmit()" id="form">
        <div class="user-box">
          <input
            required
            matInput
            id="apellido"
            [(ngModel)]="registroFalla.punto"
            name="apellido"
          />
          <label>Nombre punto</label>
        </div>

        <label style="color: white">Ruta:</label>
        <select
          name="select-location"
          placeholder="Ruta"
          id="select-location"
          style="
            padding: 10px;
            width: 100%;
            border: 1px solid gray;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
          "
          [(ngModel)]="registroFalla.ruta"
        >
          <option *ngFor="let opcion of listaRutas" [value]="opcion.rutaNombre">
            {{ opcion.rutaNombre }}
          </option>
        </select>

        <label style="color: white">Seleccione el archivo:</label>

        <div class="file-select">
          <div class="file-input-container">
            <div class="file-input-button">
              <span class="file-input-text">Seleccionar archivo</span>
            </div>
            <input
              type="file"
              class="file-input"
              (change)="onFileSelected($event)"
              #fileUpload
            />
          </div>
          <p *ngIf="selectedFileName" style="color: white; text-align: center">
            Archivo seleccionado: {{ selectedFileName }}
          </p>
        </div>

        <button>Enviar</button>

        <button
          *ngIf="
            selectedFileName &&
            registroFalla.punto != '' &&
            registroFalla.ruta != ''
          "
          (click)="enviarRegistroFalla()"
          mat-raised-button
          style="margin-left: 38%; margin-top: 2%"
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
