<html>
  <head> </head>
  <body>
    <div class="area">
      <div class="container">
        <div class="contenido">
          <table class="fixed_headers">
            <thead>
              <tr>
                <th>Perfil</th>
                <th>Mapa</th>
                <th>Caracterizacion</th>
                <th>Dashboard</th>
                <th>Fallo</th>
                <th>Actualizar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let perfiles of listaPerfil">
                <td>{{ perfiles.perfilNombre }}</td>
                <td><input type="checkbox" [(ngModel)]="perfiles.maps" /></td>
                <td>
                  <input
                    type="checkbox"
                    [(ngModel)]="perfiles.caracterizacion"
                  />
                </td>
                <td>
                  <input type="checkbox" [(ngModel)]="perfiles.dashboard" />
                </td>
                <td><input type="checkbox" [(ngModel)]="perfiles.fallo" /></td>
                <td>
                  <button
                    mat-raised-button
                    (click)="
                      actualizarPerfil(
                        perfiles.perfilNombre,
                        perfiles.maps,
                        perfiles.caracterizacion,
                        perfiles.dashboard,
                        perfiles.fallo
                      )
                    "
                  >
                    Actualizar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button
          mat-raised-button
          (click)="agregarNuevoPerfil()"
          class="btnNuevoPerfil"
          style="background-color: rgb(5, 136, 243); color: white;"
        >
          Agregar un nuevo perfil
        </button>
      </div>
    </div>
    <nav class="main-menu">
      <ul>
        <li>
          <a href="/inicio">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text"> Inicio </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="/mapa">
            <i class="fa fa-globe fa-2x"></i>
            <span class="nav-text"> Mapa </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="/perfilamiento">
            <i class="fa fa-comments fa-2x"></i>
            <span class="nav-text"> Perfilamiento </span>
          </a>
        </li>

        <li>
          <a href="/agregar-usuarios">
            <i class="fa fa-book fa-2x"></i>
            <span class="nav-text"> Agregar usuarios </span>
          </a>
        </li>

        <li>
          <a href="/caracterizacion">
            <i class="fa fa-map-marker fa-2x"></i>
            <span class="nav-text"> Caracterizacion </span>
          </a>
        </li>

        <!--  
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-text">
                            Survey Photos
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Surveying Tutorials
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Tools & Resources
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Member Map
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>

            -->
      </ul>

      <ul class="logout">
        <li>
          <a href="#">
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text"> Cerrar Sesión </span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
