<app-panel></app-panel>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<!-- 
    <form (ngSubmit) ="formSubmit()" id="form">

        <mat-form-field class="full-width" appearance="outline">
            <input required      
            matInput placeholder="Digite su nombre"
            id="nombre"
            [(ngModel)]="user.nombre"
            name="nombre">
    
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
            <input required      
            matInput placeholder="Digite su apellido"
            id="apellido"
            [(ngModel)]="user.apellido"
            name="apellido">
    
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
            <input required      
            matInput placeholder="Digite su email"
            id="email"
            [(ngModel)]="user.email"
            name="email">
    
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
            <input required      
            matInput placeholder="Digite su celular"
            id="celular"
            [(ngModel)]="user.celular"
            name="celular">
    
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
            <input required      
            matInput placeholder="Digite su cedula"
            id="cedula"
            [(ngModel)]="user.cedula"
            name="cedula">
    
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
            <input required      
            matInput placeholder="Digite su password"
            id="password"
            [(ngModel)]="user.password"
            name="password">
    
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
            <input required      
            matInput placeholder="Digite su rol"
            id="rol"
            [(ngModel)]="user.perfil"
            name="rol">
    
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
            <input required      
            matInput placeholder="Digite usuario logeado"
            id="userLogedo"
            [(ngModel)]="user.userLogeado"
            name="userLogeado">
    
        </mat-form-field>
    
        <button mat-raised-button>Enviar</button>
    
    </form>


-->

<div class="login-box">
  <h2>Nueva ruta</h2>

  <form (ngSubmit)="formSubmit()" id="form" #formRef="ngForm">
    <div class="user-box">
      <input
        required
        matInput
        id="nombre"
        [(ngModel)]="cuerpo.rutaInicio"
        name="nombre"
      />
      <label>Inicio de la ruta</label>
    </div>
    <div class="user-box">
      <input
        required
        matInput
        id="apellido"
        [(ngModel)]="cuerpo.rutaFin"
        name="apellido"
      />
      <label>Fin de la ruta</label>
    </div>

    <div style="width: 100%; display: flex; justify-content: center;">
    <button *ngIf="cuerpo.rutaFin != '' && cuerpo.rutaInicio != ''" mat-raised-button style="margin-top: 10%">
      Crear la ruta
    </button>
  </div>
  </form>
</div>
