<html>
  <head> </head>
  <body>
    <form>
      <select
        name="select-location"
        id="select-location"
        style="margin-left: 6%; padding: 10px; min-width: 20%; border: 1px solid gray; border-radius: 5px; margin-top: 10px;"
        [(ngModel)]="ruta.ruta"
      >
        <option *ngFor="let opcion of listaRutas" [value]="opcion.rutaNombre">
          {{ opcion.rutaNombre }}
        </option>
      </select>

      <button
      style="margin-left: 10px; padding: 10px; min-width: 100px; border: 1px solid gray; border-radius: 5px; margin-top: 10px; cursor: pointer;"
      (click)="envioRuta()">Enviar</button>
    </form>
    <div
      style="display: flex; flex-direction: row; margin-left: 6%; margin-top: 0"
    >
      <div style="display: flex; align-items: center; margin-right: 40px; margin-top: 10px; margin-bottom: 10px;">
        <img
          src="/assets/marker-icon-red.png"
          width="15px"
          style="margin-right: 5px"
        />
        <span>Estacion</span>
      </div>
      <div style="display: flex; align-items: center; margin-left: 40px; margin-top: 10px;margin-bottom: 10px;">
        <img
          src="/assets/marker-icon-2x-blue.png"
          width="15px"
          style="margin-right: 5px"
        />
        <span>Poste</span>
      </div>
      
    </div>

    <div style="width: 100%; display: flex; justify-content: center; position: absolute; margin-top: -70px;">
      <div id="tooltip" class="tooltip"></div>
    </div>
    

    <div id="map" style="margin-left: 5%; width: 95%; height: 100vh; z-index: 1;"></div>
    
    <nav class="main-menu">
      <ul>
        <li>
          <a href="/inicio" *ngIf="permissions.dashboard">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text"> Inicio </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="/mapa" *ngIf="permissions.maps">
            <i class="fa fa-globe fa-2x"></i>
            <span class="nav-text"> Mapa </span>
          </a>
        </li>

        <li>
          <a href="/caracterizacion" *ngIf="permissions.caracterizacion">
            <i class="fa fa-map-marker fa-2x"></i>
            <span class="nav-text"> Caracterizacion </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="/perfilamiento" *ngIf="loginService.getUserRol() == 'ADMIN'">
            <i class="fa fa-comments fa-2x"></i>
            <span class="nav-text"> Perfilamiento </span>
          </a>
        </li>

        <li>
          <a
            href="/agregar-usuarios"
            *ngIf="loginService.getUserRol() == 'ADMIN'"
          >
            <i class="fa fa-book fa-2x"></i>
            <span class="nav-text"> Agregar usuarios </span>
          </a>
        </li>

        <li>
          <a href="/rutas" *ngIf="permissions.caracterizacion">
            <i class="fa fa-map-marker fa-2x"></i>
            <span class="nav-text">Rutas</span>
          </a>
        </li>

        <li>
          <a href="/registro-fallas" *ngIf="permissions.caracterizacion">
            <i class="fa fa-map-marker fa-2x"></i>
            <span class="nav-text">Registro de fallas</span>
          </a>
        </li>
        <li>
          <a href="/auditorias-gestion" *ngIf="permissions.caracterizacion">
            <i class="fa fa-cogs fa-2x"></i>
            <span class="nav-text">Auditorias gestion</span>
          </a>
        </li>

        <li>
          <a href="/auditoria-fallo" *ngIf="permissions.caracterizacion">
            <i class="fa fa-cogs fa-2x"></i>
            <span class="nav-text">Auditoria fallo</span>
          </a>
        </li>
      </ul>

      <ul class="logout">
        <li>
          <a href="#">
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text"> Cerrar Sesión </span>
          </a>
        </li>
      </ul>
    </nav>
    
  </body>
</html>
