<html>
  <head>  
     
  </head>
  <body>

    <h1 style="margin-left: 5%;">Mapa</h1>

    <select name="select-location" id="select-location" style="margin-left: 5%;">
		<option value="-1">Seleccione un lugar:</option>
		<option value="7.896091957192708,-72.50229949934618">Punto 1</option>
		<option value="7.921171184587934,-72.48024101219407">Punto 2</option>	
		<option value="7.918014240793359,-72.49329659781102">Punto 3</option>
		<option value="7.888235561076866,-72.49681042061687">Punto 4</option>
				
	</select>

    <div id="map" style="margin-left: 5%; width: 95%; height: 85vh;"></div>
    <nav class="main-menu">

            <ul>
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Inicio
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="/mapa">
                        <i class="fa fa-globe fa-2x"></i>
                        <span class="nav-text">
                            Mapa
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="/perfilamiento">
                       <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">
                            Perfilamiento
                        </span>
                    </a>
                    
                </li>

                <li>
                    <a href="/agregar-usuarios">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                           Agregar usuarios
                        </span>
                    </a>
                </li>

                <!--  
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-text">
                            Survey Photos
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Surveying Tutorials
                        </span>
                    </a>
                </li>

                <li>
                   <a href="#">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Tools & Resources
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Member Map
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>

            -->
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>

    



<h1>Este es el mapa</h1>