<!-- 

<div style="width: 600px; margin-left: 3%; display: inline-block;">
    <app-mapa></app-mapa>
    
</div>

<div style="width:90px; display:inline-block;">
    <app-captura></app-captura>
</div>
 -->

<div style="width: 100%; height: 100%">
  <div style="width: 700px; display: inline-block; margin-left: 3%">
    <app-mapa></app-mapa>
  </div>
  <div
    style="width: 90px; height: 100%; display: inline-block; margin-left: 50%"
  >
    <div class="login-box">
      <h2>Caracterizacion</h2>

      <form (ngSubmit)="formSubmit()" id="form" #formRef="ngForm">
        <div class="user-box">
          <input
            [(ngModel)]="caracterizacion.nombrePunto"
            required
            matInput
            placeholder="Digite su nombre"
            id="nombre"
            name="nombre"
          />
          <label>Nombre</label>
        </div>
        <div class="user-box">
          <input
            required
            matInput
            placeholder="Digite su apellido"
            id="apellido"
            [(ngModel)]="caracterizacion.latitud"
            name="apellido"
          />
          <label>Latitud</label>
        </div>
        <div class="user-box">
          <input
            required
            matInput
            placeholder="Digite su email"
            id="email"
            [(ngModel)]="caracterizacion.longitud"
            name="email"
          />
          <label>Longitud</label>
        </div>
        <div class="user-box">
          <input
            required
            matInput
            placeholder="Digite su email"
            id="email"
            [(ngModel)]="caracterizacion.cantRemanente"
            name="email"
          />
          <label>Remanente</label>
        </div>

        <mat-form-field class="selectRol">
          <mat-select
            placeholder="Tipo de punto"
            name="opcines"
            [(ngModel)]="caracterizacion.tipoPunto"
          >
            <mat-option value="POSTE">POSTE</mat-option>
            <mat-option value="ESTACION">ESTACION</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="selectRol">
          <mat-select
            placeholder="Poste medicion?"
            name="opcines"
            class="custom-select"
            [(ngModel)]="comprobacion.medicion"
          >
            <mat-option value="SI">SI</mat-option>
            <mat-option value="NO">NO</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="selectRol">
          <mat-select
            placeholder="Ruta"
            name="opcines"
            [(ngModel)]="caracterizacion.ruta"
          >
            <mat-option
              *ngFor="let opcion of listaRutas"
              [value]="opcion.rutaNombre"
              >{{ opcion.rutaNombre }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <button
          (click)="enviarCaracterizacion()"
          mat-raised-button
          style="margin-left: 38%; margin-top: 2%"
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
