<app-panel></app-panel>

<div class="area">
  <div class="container">
    <div class="contenido">
      <table class="fixed_headers">
        <thead>
          <tr style="width: 100%; text-align: center;">
            <td style="width: 3%;">Titulo</td>
            <td style="width: 3%;">Ruta</td>
            <td style="width: 5%;">Fecha</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let auditorias of listaFallos">
            <td style="width: 3%;">{{ auditorias.titulo }}</td>
            <td style="width: 3%;">{{ auditorias.ruta }}</td>
            <td style="width: 5%;">{{ auditorias.fecha }}</td>
     
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
