<app-panel></app-panel>

<div class="login-box">
  <h2>Caracterizacion por Excel</h2>

  <form (ngSubmit)="formSubmit()" id="form" #formRef="ngForm">
    <div style="width: 100%; display: flex; justify-content: center">
      <select
          placeholder="Ruta"
          id="select-location"
          style="
            padding: 10px;
            width: 100%;
            border: 1px solid gray;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
          "
          name="ruta"
          [(ngModel)]="caracterizacion.ruta"
        >
        <option value='' disabled>
          Seleccione la ruta...
        </option>
          <option *ngFor="let opcion of listaRutas"
            [value]="opcion.rutaNombre"
            >{{ opcion.rutaNombre }}
          </option>
        </select>

      
    </div>

    <div class="file-select">
      <div class="file-input-container">
        <div class="file-input-button">
          <span class="file-input-text">Seleccionar archivo</span>
        </div>
        <input
          type="file"
          class="file-input"
          (change)="onFileSelected($event)"
          #fileUpload
        />
      </div>
      <p *ngIf="selectedFileName" style="color: white; text-align: center">
        Archivo seleccionado: {{ selectedFileName }}
      </p>
    </div>

    <button
    *ngIf="selectedFileName != '' && caracterizacion.ruta != '' && selectedFileName.includes('.xlsx')"
      (click)="enviarRegistroCaracterizacion()"
      mat-raised-button
      style="margin-top: 10%; width: 40%; margin-left: 30%;"
    >
      Caracterizar
    </button>
  </form>
</div>
